<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--多对多查询-->
<mapper namespace="priv.ze.mybatis.mapper.Test1Mapper">
    <select id="selectByID" resultType="test1">
        select *from test where id=#{ooo}
    </select>
</mapper>
